<ion-header>
  <ion-toolbar>
    <ion-title>Stats</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Total played games: {{totalPlayedGames}}</p>
      <p>Total won games: {{totalWonGames}}</p>
      <p>Total lost games: {{totalLostGames}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last 5 games</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let recentGame of recentGames">
          <!-- link nog plaatsen naar overzicht worpen -->
          <ion-label [routerLink]="['gamedetails', recentGame.key]">
            <h2>Start: {{recentGame.startScore}}</h2>
            <h3>{{formatFirestoreDatetime(recentGame.date)}}</h3>
            <p [ngSwitch]="recentGame.difficulty">Difficulty: 
              <span *ngSwitchCase="1">Beginner</span>
              <span *ngSwitchCase="2">Easy</span>
              <span *ngSwitchCase="3">Medium</span>
              <span *ngSwitchCase="4">Hard</span>
              <span *ngSwitchCase="5">Extreme</span>
            </p>
          </ion-label>
          <ion-badge *ngIf="recentGame.haswon" color="success">Win</ion-badge>
          <ion-badge *ngIf="!recentGame.haswon" color="danger">Lose</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
