<ion-header>
  <ion-toolbar>
    <ion-title>Classic Bot</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="classicGameObj">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{formatFirestoreDatetime(classicGameObj.date)}}</ion-card-subtitle>
      <ion-card-title>Classic - {{classicGameObj.startScore}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <p>Difficulty: {{classicGameObj.difficulty}}</p>
        <ion-button (click)="endGame()" color="danger" class="ion-margin-horizontal">End Game</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Player</ion-card-subtitle>
      <ion-card-title>{{classicGameObj.remainingScorePlayer}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Average throw player: <span *ngIf="averageThrowPlayer">{{averageThrowPlayer.toFixed(2)}}</span></p>
      <p>Last throw: {{lastthrowPlayer}}</p>

      <ion-row class="ion-align-items-center">
        <input [(ngModel)]="playerThrow"><br>
        <ion-button (click)="inputScore()" class="ion-margin-horizontal">Enter</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bot</ion-card-subtitle>
      <ion-card-title>{{classicGameObj.remainingScoreBot}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Average throw bot: <span *ngIf="averageThrowBot">{{averageThrowBot.toFixed(2)}}</span></p>
      <p>Last throw: {{lastthrowBot}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>