<ion-header>
  <ion-toolbar>
    <ion-title>Classic bot</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>New Game</ion-card-subtitle>
      <ion-card-title>Classic bot</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        Difficulty bot
      </ion-label>
      <ion-range [(ngModel)]="difficulty" min="1" max="5" color="secondary" step="1" snaps="true" [pinFormatter]="customFormatter" [pin]="true">
        <ion-label slot="start">Easy</ion-label>
        <ion-label slot="end">Hard</ion-label>
      </ion-range>

      <ion-label>
        Start score
      </ion-label>
      <ion-list>
        <ion-radio-group [(ngModel)]="startScore">
          <ion-item>
            <ion-label>501</ion-label>
            <ion-radio value="501"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>301</ion-label>
            <ion-radio value="301"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>101</ion-label>
            <ion-radio value="101"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-button expand="block" (click)="startNewGame()">Start Game</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Classic bot</ion-card-subtitle>
      <ion-card-title>My open games</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="classicGames.length === 0">No open games, start a new game.</p>
      <ion-list>
        <ion-item *ngFor="let classicGame of classicGames">
          <ion-label [routerLink]="['classicbotgame', classicGame.key]">{{formatFirestoreDatetime(classicGame.date)}} / Difficulty: {{classicGame.difficulty}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
